#bloodhound-pages ul, li {
    margin: 0 !important;
    padding: 0 !important;
}

#bloodhound-pages {

    background-color: #fff;

    padding: 0 !important;
    display: none;
    height: 600px;
    overflow: auto
}

#bloodhound-pages li {
    display: none;
    font-weight:normal;
}

#bloodhound-pages ul {
	list-style:none;
}


#bloodhound-pages a {
    text-decoration: none;
    color: #000;
    display: block;
    padding-top: 3px;
    padding-bottom: 0;

}

#bloodhound-pages a:hover {
    background-color: #208fff;
    cursor: pointer;

    color: white;

}

#bloodhound-pages .children {
    /*border-left: 1px solid #eae7e7!important;*/
    margin-left: 10px;
}



.show {
    display: block !important;
}

.bloodhound-spinner {
    margin: 4px 30px 0 0!important;
}

select[id="parent_id"] {
    display: none !important;
}

#hidden-page-bloodhound-input {
    display: none !important;
}

#page-bloodhound-input {
    width: 190px;
}

.no-access {
    cursor: not-allowed;
}

.close-bloodhound {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #aea9a9;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    margin-left: 5px;
}

.close-bloodhound:hover{
    color: #817e7e;
}



.level-0 a{
    padding-left: 5px;
    font-weight: 600;
}
.level-1 a{
    padding-left: 15px;
    font-weight: normal;

}
.level-2 a{
    padding-left: 25px;

}
.level-3 a{
    padding-left: 35px;

}
.level-4 a{
    padding-left: 45px;

}
.level-5 a{
    padding-left: 55px;

}
.level-6 a{
    padding-left: 65px;

}
.level-7 a{
    padding-left: 75px;

}
.level-8 a{
    padding-left: 85px;

}
.level-9 a{
    padding-left: 95px;

}
.level-10 a{
    padding-left: 105px;

}
.level-11 a{
    padding-left: 115px;

}
.level-12 a{
    padding-left: 125px;

}
.level-13 a{
    padding-left: 135px;

}
.level-15 a{
    padding-left: 145px;

}